<a href="https://colab.research.google.com/github/ARCTraining/python-2021-04/blob/gh-pages/notebooks/010IntroPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# My first python notebook

In [ ]:
print("Hello, world")

Hello, world

In [ ]:
# here we wrote a my_script.py file
# we clicked the folder icon on the right hand side
# and right clicked, selected `New File` 
# which opened a file editor on the right hand side
# in this file we wrote print("Hello, world"), this saves automatically
! python my_script.py

Hello, world

In [ ]:
# assign a variable containing a string
text = "Data carpentry"

In [ ]:
# assign a variable containing an int
number = 42

In [ ]:
# assign a variable containing a float
pi_value = 3.1415 # an example of float

In [ ]:
# in a notebook we can peek at whats in a variable by running a cell with the variable in
text

'Data carpentry'

In [ ]:
# we can more formally print a variable and show its content 
# in the standard output channel by using the print function
print(text)

Data carpentry

In [ ]:
# we can check the type of a variable with the 
# type function
type(number)

int

In [ ]:
# adding a string and a int gives an error
"2" + 2

TypeError: ignored

In [ ]:
# adding two strings together is called string concatenation
# and combines the strings into one string
"2" + "2"

'22'

In [ ]:
"hello" +  "world"

'helloworld'

In [ ]:
# you can do standard maths with python
2 + 2

4

In [ ]:
# note the type of the result
2.0 + 2.0

4.0

In [ ]:
# float and int gives float
2 + 2.0

4.0

In [ ]:
# multiplication magic
6 * 7

42

In [ ]:
# dividing two ints gives a float
80 / 10

8.0

In [ ]:
# we can also do exponents
2 ** 16

65536

In [ ]:
# and calculate the remainder of a division with the modulo
13 % 5

3

In [ ]:
# string concatenation and printing
print("hello" + "world")

helloworld

In [ ]:
# the mysterious type of a print function - NoneType
type(print("hello"))

hello

NoneType

In [ ]:
# colab only shows the result of the final operation
"2" + "2"
5 + 9

14

In [ ]:
# comparisons returns a boolean valuable either True or False
3 > 4

False

In [ ]:
# True and False are reserved key words
# check if equal
3 == 3

True

In [ ]:
# check if not equal
2 != 5

True

In [ ]:
# we can also use `and` to check if two tests are True
True and True

True

In [ ]:
# and `or` to check if either tests are True
True or False

True

In [ ]:
# we can see that bool is a specific type meaning Boolean
type(True)

bool

In [ ]:
# keywords like True are reserved in python and so you can't
# assign variables to them
True = 10

SyntaxError: ignored

In [ ]:
# missing brackets is a common error in python
# this leads to an `unexpected EOF while parsing` error
type(true

SyntaxError: ignored

In [ ]:
# here we showed that whilst `True` is reserved, `true` is not 
# if you check the type of a variable you haven't assigned
# you get a NameError
type(true)

NameError: ignored

## Basic data structures

In [ ]:
# lists
# lists are created in python by wrapping comma-separated data in square brackets 

numbers = [1, 2, 3]

In [ ]:
# getting information out of a list
# we can index data out of a list using square brackets containing
# the index of the data 
# n.b. python has zeroth indexing i.e. the first item is at index zero
numbers[1]

2

In [ ]:
# we can also index from the end of a list using 
# minus index number e.g.
numbers[-2]

2

In [ ]:
numbers[0]
numbers[1] 
numbers[2]

3

In [ ]:
# the for loop is a classic programming technique for iterating 
# through a collection (like a list) and performing some operation on each item

# for each item in `numbers` assign the item to the variable `num`
# in the indented block perform some code for each item in the list
# in this case print the `num`
for num in numbers:
  print(num)

1
2
3

In [ ]:
# lists are mutable
# that is we can change them such as adding an item using the append function
numbers.append(4)

In [ ]:
# print `numbers` to show we added 4
print(numbers)

[1, 2, 3, 4]

In [ ]:
# tuples
# tuples are another python collection
# tuples are crucially immutable and cannot be changed after creation
# they're indicated by comma-separated data items wrapped in curved brackets

a_tuple = (1, 2, 3)

In [ ]:
print(a_tuple)

(1, 2, 3)

In [ ]:
another_tuple = ('blue','green','red')

In [ ]:
# we can still index items in a tuple using square brackets
a_tuple[0]

1

In [ ]:
# dictionaries
# dictionaries are another collection type
# this time they're signified by key:value pairs comma separated in curly brackets
# dictionaries are unordered unlike lists and tuples

translation = {'one': 'first',
               'two':'second'}

In [ ]:
# being unordered means we can't index by position
# here the key 0 doesn't exist in the dictionary
# so an error is thrown
translation[0]

KeyError: ignored

In [ ]:
# curly brackets don't mean anything here
# square brackets are always used for indexing
translation{0}

SyntaxError: ignored

In [ ]:
# we can index by key value
# so because we have a key called `one` we can retrieve its value
translation['one']

'first'

In [ ]:
# we can also define our own functions within python
# to do this we use the def keyword
# followed by a function name
# and arguments contained within curved brackets followed by a colon
# we then indent the code we want our function to run when called
# and specify a return value for what we want our function to return

def add_function(a, b):
  result = a + b
  return result

In [ ]:
# testing out our function
add_function(22, 20)

42

In [ ]:
# calling the `.keys()` function on a dictionary returns 
# a special dict_keys object containing all keys
# if we wrap this in the `list()` function 
# we can retrieve the keys are a pure python list
list(translation.keys())

['one', 'two']