# Starting with Data

In [29]:
# Author: Martin Callaghan
# Date: 2021-04-26
# Lesson link: https://arctraining.github.io/python-2021-04/02-starting-with-data/index.html

In [3]:
# import pandas library
import pandas as pd

In [4]:
# We use the Portal Project teaching dataset
# https://figshare.com/articles/dataset/Portal_Project_Teaching_Database/1314459

In [5]:
# But first we need to download it
!wget https://arctraining.github.io/python-2021-04/data/portal-teachingdb-master.zip

--2021-04-26 10:03:06--  https://arctraining.github.io/python-2021-04/data/portal-teachingdb-master.zip
Resolving arctraining.github.io (arctraining.github.io)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to arctraining.github.io (arctraining.github.io)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 689547 (673K) [application/zip]
Saving to: ‘portal-teachingdb-master.zip’

portal-teachingdb-m 100%[===================>] 673.39K  --.-KB/s    in 0.03s

2021-04-26 10:03:06 (21.8 MB/s) - ‘portal-teachingdb-master.zip’ saved [689547/689547]

In [15]:
# after downloading rename
# portal-teachingdb-master.zip to data.zip

In [6]:
# unzip the file we've just downloaded
!unzip data.zip

Archive:  data.zip
   creating: portal-teachingdb-master/
  inflating: portal-teachingdb-master/surveys2001.csv
  inflating: portal-teachingdb-master/surveys2002.csv
  inflating: portal-teachingdb-master/speciesSubset.csv
  inflating: portal-teachingdb-master/bouldercreek_09_2013.txt
  inflating: portal-teachingdb-master/species.csv
  inflating: portal-teachingdb-master/surveys.csv
  inflating: portal-teachingdb-master/portal_mammals.sqlite
  inflating: portal-teachingdb-master/README.txt
  inflating: portal-teachingdb-master/plots.csv

In [ ]:
# rename the folder portal-teachingdb-master to data

In [9]:
# see what we have done
!ls -l

total 684
drwxrwxr-x 2 root root   4096 Jun  5  2020 data
-rw-r--r-- 1 root root 689547 Apr 23 14:49 data.zip
drwxr-xr-x 1 root root   4096 Apr 21 13:39 sample_data

In [10]:
# First look at the data
pd.read_csv ('data/surveys.csv')

       record_id  month  day  year  ...  species_id  sex hindfoot_length  weight
0              1      7   16  1977  ...          NL    M            32.0     NaN
1              2      7   16  1977  ...          NL    M            33.0     NaN
2              3      7   16  1977  ...          DM    F            37.0     NaN
3              4      7   16  1977  ...          DM    M            36.0     NaN
4              5      7   16  1977  ...          DM    M            35.0     NaN
...          ...    ...  ...   ...  ...         ...  ...             ...     ...
35544      35545     12   31  2002  ...          AH  NaN             NaN     NaN
35545      35546     12   31  2002  ...          AH  NaN             NaN     NaN
35546      35547     12   31  2002  ...          RM    F            15.0    14.0
35547      35548     12   31  2002  ...          DO    M            36.0    51.0
35548      35549     12   31  2002  ...         NaN  NaN             NaN     NaN

[35549 rows x 9 columns]

In [11]:
# Read in the df and assign to a variable
surveys_df = pd.read_csv ('data/surveys.csv')

In [12]:
# Quickly view the contents
surveys_df

       record_id  month  day  year  ...  species_id  sex hindfoot_length  weight
0              1      7   16  1977  ...          NL    M            32.0     NaN
1              2      7   16  1977  ...          NL    M            33.0     NaN
2              3      7   16  1977  ...          DM    F            37.0     NaN
3              4      7   16  1977  ...          DM    M            36.0     NaN
4              5      7   16  1977  ...          DM    M            35.0     NaN
...          ...    ...  ...   ...  ...         ...  ...             ...     ...
35544      35545     12   31  2002  ...          AH  NaN             NaN     NaN
35545      35546     12   31  2002  ...          AH  NaN             NaN     NaN
35546      35547     12   31  2002  ...          RM    F            15.0    14.0
35547      35548     12   31  2002  ...          DO    M            36.0    51.0
35548      35549     12   31  2002  ...         NaN  NaN             NaN     NaN

[35549 rows x 9 columns]

In [14]:
# look at the fist few rows
surveys_df.head(3)

   record_id  month  day  year  plot_id species_id sex  hindfoot_length  weight
0          1      7   16  1977        2         NL   M             32.0     NaN
1          2      7   16  1977        3         NL   M             33.0     NaN
2          3      7   16  1977        2         DM   F             37.0     NaN

## Exploring the dataset

In [16]:
# What is surveys_df
type(surveys_df)

pandas.core.frame.DataFrame

In [17]:
# What's in the dataframe
surveys_df.dtypes

record_id            int64
month                int64
day                  int64
year                 int64
plot_id              int64
species_id          object
sex                 object
hindfoot_length    float64
weight             float64
dtype: object

In [18]:
# Challenge 1
surveys_df.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

In [19]:
surveys_df.shape

(35549, 9)

In [20]:
surveys_df.tail()

       record_id  month  day  year  ...  species_id  sex hindfoot_length  weight
35544      35545     12   31  2002  ...          AH  NaN             NaN     NaN
35545      35546     12   31  2002  ...          AH  NaN             NaN     NaN
35546      35547     12   31  2002  ...          RM    F            15.0    14.0
35547      35548     12   31  2002  ...          DO    M            36.0    51.0
35548      35549     12   31  2002  ...         NaN  NaN             NaN     NaN

[5 rows x 9 columns]

## Basic statistics on the dataframe

In [21]:
# Look at the columns
surveys_df.columns

Index(['record_id', 'month', 'day', 'year', 'plot_id', 'species_id', 'sex',
       'hindfoot_length', 'weight'],
      dtype='object')

In [22]:
# What are the unique values of species
pd.unique(surveys_df['species_id'])

array(['NL', 'DM', 'PF', 'PE', 'DS', 'PP', 'SH', 'OT', 'DO', 'OX', 'SS',
       'OL', 'RM', nan, 'SA', 'PM', 'AH', 'DX', 'AB', 'CB', 'CM', 'CQ',
       'RF', 'PC', 'PG', 'PH', 'PU', 'CV', 'UR', 'UP', 'ZL', 'UL', 'CS',
       'SC', 'BA', 'SF', 'RO', 'AS', 'SO', 'PI', 'ST', 'CU', 'SU', 'RX',
       'PB', 'PL', 'PX', 'CT', 'US'], dtype=object)

In [23]:
# Challenge 2: Statistics

In [24]:
# Create a list of unique plot_id
site_names = pd.unique(surveys_df['plot_id'])

In [25]:
site_names

array([ 2,  3,  7,  1,  6,  5,  8,  4, 11, 14, 15, 13,  9, 10, 17, 16, 20,
       23, 18, 21, 22, 19, 12, 24])

In [26]:
# How many unique site names are there?
len (site_names)

24

In [27]:
# Number of species
len (pd.unique(surveys_df['species_id']))

49

In [28]:
# What is the difference between len(site_names) and surveys_df['plot_id'].nunique()?
surveys_df['plot_id'].nunique()

24

## Grouping in Pandas

In [30]:
# Homework:
# Try the 'grouping in pandas' section *and* the Challenge - Summary Data